%h1 Listing game_histories

%table
  %tr
    %th Move history
    %th Winner
    %th
    %th
    %th

  - @game_histories.each do |game_history|
    %tr
      %td= game_history.move_history
      %td= game_history.winner
      %td= link_to 'Show', game_history
      %td= link_to 'Edit', edit_game_history_path(game_history)
      %td= link_to 'Destroy', game_history, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Game history', new_game_history_path
