%h1 Listing games

%table
  %tr
    %th Move history
    %th Game runner klass
    %th Width
    %th Height
    %th
    %th
    %th

  - @games.each do |game|
    %tr
      %td= game.move_history
      %td= game.game_runner_klass
      %td= game.width
      %td= game.height
      %td= link_to 'Show', game
      %td= link_to 'Edit', edit_game_path(game)
      %td= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Game', new_game_path
