%p#notice= notice

%p
  %b Logic:
  = @ai.logic
%p
  %b Player:
  = link_to @ai.player.name, @ai.player
%p
  %b AI Name:
  = @ai.name
%p
  %b Active?
  = @ai.active
- unless @ai.games.empty?
  %p
    %b Games
    -@ai.games.each_with_index do |game, index|
      = link_to "Game ##{index}", game

= link_to 'Edit', edit_player_ai_path(@ai.player, @ai)
\|
= link_to 'Back', @ai.player
